[submodule "manager-seller/ui-components"]
	path = manager-seller/ui-components
	url = git@code.aliyun.com:javashop/ui-components.git
[submodule "manager-admin/ui-components"]
	path = manager-admin/ui-components
	url = git@code.aliyun.com:javashop/ui-components.git
[submodule "manager-seller/ui-domain"]
	path = manager-seller/ui-domain
	url = git@code.aliyun.com:javashop/ui-domain.git
[submodule "manager-seller/ui-utils"]
	path = manager-seller/ui-utils
	url = git@code.aliyun.com:javashop/ui-utils.git
