/* 公共样式重置
   ========================================================================== */
body {
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background: #fff;
  display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, b, u, i, input, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #666
}

a:link {
  text-decoration: none;
  outline: none;
}

a:visited {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: #f42424;
}

a:active {
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: none;
}

i, em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align:bottom
}

:focus {
  outline: 0;
}

/* 公共样式
   ========================================================================== */
.clear, .clr {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

* + html .clearfix {
  height: 1%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/** input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

/** others */
.price {
  color: #f42424 !important;
}

.sku-spec {
  color: #ff9800 !important;
}

.icon-custom-loading {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/loading.gif") no-repeat;
  background-size: 100% 100%;
}
