$main: #409efe;
$body_background: #e9eef3;

$sider-bar_background: #313641;
$sider-bar_background-active: #434a50;
$sider-bar_text: #ffffff;
$sider-bar_text-active: $main;

$nav-bar_background: #e9eef3;
$nav-bar_text: #495060;
$nav-bar_text-active: #495060
