@charset "UTF-8";
/*
* @description: 公共css
* @author: javashop
* @update: javashop (2017-11-01 17:56)
*/
/* Base */
#wrapper {
  background-color: #ffffff;
}

/* Shortcut */
#shortcut {
  position: relative;
  z-index: 99;
  height: 30px;
  line-height: 30px;
  background-color: #f5f6f5;
}
#shortcut li {
  position: relative;
  float: left;
}
#shortcut li.spacer {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
#shortcut .dorpdown:hover .dorpdown-layer {
  display: block;
}
#shortcut .dorpdown:hover .dt {
  z-index: 3;
}
#shortcut .dorpdown:hover .iconfont {
  transform: rotate(180deg);
}
#shortcut .dt {
  padding-left: 7px;
  padding-right: 7px;
}
#shortcut .dt.hs-icon {
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  padding-right: 20px;
}
#shortcut .dt .iconfont {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#shortcut .dorpdown-layer {
  background-color: #FFF;
  display: none;
  width: 78px;
  border: solid 1px #F0F0F0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 30px;
}
#shortcut .dorpdown-layer dd {
  cursor: pointer;
}
#shortcut .dorpdown-layer dd:hover {
  background-color: #f5f6f5;
}
#shortcut .dorpdown-layer a {
  line-height: 24px;
  padding-left: 7px;
}
#shortcut a {
  color: #333;
}
#shortcut a:hover {
  text-decoration: none;
}

/* Header */
#header {
  height: 140px;
  background-color: #ffffff;
}
#header .search-box {
  height: 80px;
  padding-top: 20px;
}
#header .search-box .logo-box {
  width: 325px;
  height: 60px;
}
#header .search-box .logo-box .logo {
  width: 240px;
  height: 100%;
}
#header .search-box .inner-search-box {
  padding-top: 20px;
}
#header .search-box .hot-keyword {
  height: 15px;
  overflow: hidden;
  padding: 5px 0;
}
#header .search-box .hot-keyword li {
  float: left;
  margin-right: 10px;
}
#header .search-box .hot-keyword a {
  color: #999;
}
#header .search-box .hot-keyword a:hover {
  color: #ff2828;
}
#header .search-box .cart-box {
  position: relative;
  padding-top: 20px;
}
#header .search-box .cart-box:hover .inner-cart-box {
  z-index: 3;
  border-bottom-color: #ffffff;
}
#header .search-box .cart-box:hover .dorpdown-layer {
  display: block;
}
#header .search-box .inner-cart-box {
  position: relative;
  z-index: 1;
  width: 178px;
  height: 33px;
  line-height: 33px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
}
#header .search-box .inner-cart-box i {
  color: #ff2828;
  margin-left: 20px;
  font-size: 18px;
}
#header .search-box .inner-cart-box span {
  margin-left: 8px;
  color: #ff2828;
}
#header .search-box .inner-cart-box em {
  font-style: normal;
  min-width: 13px;
  height: 13px;
  line-height: 13px;
  padding: 1px;
  border-radius: 50%;
  background: #f42424;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 122px;
  text-align: center;
  font-size: 12px;
}
#header .search-box .dorpdown-layer {
  display: none;
  position: absolute;
  z-index: 2;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  right: 0;
  top: 54px;
  width: 312px;
}
#header .search-box .header-cart-content {
  position: relative;
  width: 100%;
  z-index: 2;
  background: #fff;
}
#header .search-box .header-cart-content .mc {
  height: auto;
  max-height: 334px;
  overflow: auto;
}
#header .search-box .header-cart-content .mb {
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}
#header .search-box .header-cart-content .p-total {
  float: left;
  line-height: 28px;
  color: #999;
}
#header .search-box .header-cart-content .btn-cart {
  display: block;
  float: right;
  width: 96px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #f42424;
  background: #eee;
  text-align: center;
  color: #f42424;
}
#header .search-box .header-cart-content .btn-cart:hover {
  background-color: #ff2828;
  color: #ffffff;
}
#header .nav-box {
  height: 40px;
}
#header .nav-box .nav-category {
  width: 240px;
  height: 40px;
}
#header .nav-box .nav-items {
  width: 960px;
  height: 40px;
  overflow: hidden;
}
#header .nav-box .nav-items li {
  float: left;
}
#header .nav-box .nav-items a {
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  color: #333;
  height: 40px;
  padding: 0 24px;
}
#header .nav-box .nav-items a:hover {
  color: #ff2828;
}

/* Footer */
#footer {
  background-color: #f5f6f5;
}
#footer.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer .help-center-footer {
  border-bottom: solid 1px #eaeaea;
  padding: 20px 0 20px 10%;
}
#footer .help-center-footer dl {
  width: 20%;
  float: left;
  line-height: 22px;
}
#footer .help-center-footer dt {
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  color: #777;
  height: 22px;
}
#footer .help-center-footer dd {
  font-size: 12px;
  color: #666;
  height: 22px;
  overflow: hidden;
}
#footer .link-footer {
  text-align: center;
  height: 40px;
  line-height: 40px;
}
#footer .link-footer a {
  color: #666;
}

/* Search */
#search {
  width: 550px;
  height: 35px;
}
#search .input-search {
  width: 378px;
  height: 25px;
  border: 2px solid #ff2828;
  padding: 3px 10px;
  border-right: 0;
}
#search .btn-search {
  background-color: #ff2828;
  width: 70px;
  height: 35px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
#search .btn-search:hover {
  background-color: #ff5b5b;
}
#search .seller-btn-search {
  margin-right: 0;
  background-color: #c10000;
}
#search .seller-btn-search:hover {
  background-color: #f40000;
}

/* Category */
#category {
  position: relative;
  width: 240px;
  height: 40px;
  background-color: #ff2828;
  color: #f5f6f5;
}
#category .title-category {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background: #ff2828;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
#category .category-layer {
  display: none;
  position: relative;
  z-index: 999;
  width: 240px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.6);
}
#category .category-layer.open {
  display: block;
}
#category .category-item:hover .inn-category-item {
  background-color: black;
}
#category .category-item:hover .sub-category-item {
  display: block;
}
#category .inn-category-item {
  width: 200px;
  height: 31.4285714286px;
  cursor: pointer;
  padding: 20px;
}
#category .inn-category-item .icon-category-item {
  display: inline-block;
  float: left;
  width: 25px;
  height: 25px;
}
#category .inn-category-item strong {
  display: block;
}
#category .inn-category-item strong a {
  color: #fff;
  font-size: 14px;
}
#category .inn-category-item span {
  display: block;
}
#category .inn-category-item span a {
  color: #bfbfbf;
  font-size: 13px;
}
#category .inn-category-item a:hover {
  color: #ff2828;
}
#category .sub-category-item {
  display: none;
  width: 960px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 240px;
  background-color: #ffffff;
}
#category .sub-category-item .inner-sub-category {
  padding: 20px 20px 28px 18px;
}
#category .sub-category-item .cate-layer-left {
  width: 704px;
}
#category .sub-category-item .cate-detail {
  margin-top: 20px;
  width: 100%;
}
#category .sub-category-item .cate-detail dl {
  padding-left: 80px;
  position: relative;
}
#category .sub-category-item .cate-detail dt {
  overflow: hidden;
  position: absolute;
  color: #555;
  left: 0;
  top: 13px;
  width: 70px;
  text-align: right;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#category .sub-category-item .cate-detail dd {
  padding: 8px 0;
  overflow: hidden;
  border-bottom: 1px dashed #d2d2d2;
  min-height: 28px;
}
#category .sub-category-item .cate-detail dd a {
  float: left;
  margin: 8px 0;
  padding: 0 10px;
  height: 12px;
  border-left: 1px solid #e0e0e0;
  line-height: 12px;
  white-space: nowrap;
}
#category .sub-category-item .cate-detail dd a:hover {
  color: #ff2828;
}
#category .sub-category-item .cate-layer-rihgt {
  width: 200px;
}
#category .sub-category-item .cate-brand {
  margin: auto;
  font-size: 0;
}
#category .sub-category-item .cate-brand .img {
  overflow: hidden;
  display: inline-block;
  width: 98px;
  height: 48px;
  border: 1px solid #f9f9f9;
  text-align: center;
  margin: -1px -1px 0 0;
}
#category .sub-category-item .cate-brand a {
  display: table-cell;
  vertical-align: middle;
  width: 98px;
  height: 48px;
}
#category .sub-category-item .cate-brand img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=common.css.map */
