@charset "UTF-8";

/*************找回密码****************/

.find-passwordByEmail {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.findpwd-wrapper {
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
    overflow: hidden;
    padding: 30px 0px;
    min-height: 546px;
    padding: 37px 0px\0;
    /* ie8下显示此样式 */
}

.findpwd-box {
    margin: 25px auto 125px;
    width: 860px;
    padding: 86px;
    background: #fff;
    height: 315px;
}

.findpwd-box h1 {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    cursor: default;
    line-height: 1.5;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "微軟正黑體", "儷黑 Pro", sans-serif;
}

.findpwd-box h1 span {
    color: #757575;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 10px;
    font-weight: normal;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "微軟正黑體", "儷黑 Pro", sans-serif;
}

.find-title {
    margin: 30px 0 0;
    overflow: hidden;
    width: 794px;
}

.find-title ul {
    font-size: 16px;
    line-height: 1.25;
    list-style-type: none;
    margin: 0;
    width: 800px;
    overflow: hidden;
}

.find-title ul li {
    color: #757575;
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 1.25;
    list-style-type: none;
    border-left: 1px solid #e0e0e0;
    width: 397px;
    text-align: center;
}

.find-title ul .selected {
    color: #f42424;
    font-weight: 600;
}

.find-title .email-border {
    border-left: none;
}

.same-find {
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    padding: 25px 0;
    position: relative;
    width: 794px;
    text-align: center;
}

.same-find h3 {
    color: #333;
    font-size: 15px;
    padding-bottom: 10px;
    cursor: default;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "微軟正黑體", "儷黑 Pro", sans-serif;
}

.same-find label {
    width: 130px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
}

.same-find label input {
    margin: 0px 5px 0px 0px;
}

.same-find label p {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "微軟正黑體", "儷黑 Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.same-find label i {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 8px;
    background: url(../images/icon_tip.png) no-repeat 0px -101px;
}

.same-find label .selected {
    background-position: 0 -85px;
    z-index: 1;
}

.same-find .find-word {
    height: 38px;
    line-height: 38px;
    width: 210px;
    display: block;
    padding: 0px 10px;
    margin: 10px auto;
    border: 1px solid #cccccc;
}

.btn-box {
    width: 210px;
    margin: 0 auto;
    line-height: 66px;
}

.btn-box .btn {
    width: 70%;
    float: left;
    height: 38px;
    line-height: 38px;
    background: #f42424;
    color: #f9f9f9;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

.find-by-phone {
    display: none;
}

.find-by-phone .find-mobile {
    height: 38px;
    line-height: 38px;
    width: 210px;
    display: block;
    padding: 0px 10px;
    margin: 15px auto;
    border: 1px solid #cccccc;
}

.find-by-phone .find-code-box {
    height: 38px;
    line-height: 38px;
    width: 210px;
    display: block;
    padding: 0px 10px;
    margin: 10px auto;
    position: relative;
    border: 1px solid #ccc;
}

.find-by-phone .find-code-box .find-code {
    border: 0px none;
    position: absolute;
    height: 38px;
    padding-left: 10px;
    top: 0;
    left: 0;
    width: 141px;
}

.find-by-phone .find-code-box .get-message {
    border: 0px none;
    border-left: 1px solid #e0e0e0;
    position: absolute;
    right: 0;
    top: 13px;
    background: #fff;
    cursor: pointer;
    padding: 0 10px;
}


/*********找回密码结果**************/

.back-password-blank {
    width: 100%;
    height: 30px;
    border-top: 1px solid #e0e0e0;
    margin: 30px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

.back-password-same {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    width: 800px;
}

.back-password-same span {
    float: left;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding-right: 10px;
    text-align: right;
    vertical-align: middle;
    width: 210px;
}

.back-password-same .tip {
    color: #ff6700;
    font-size: 12px;
    text-align: left;
}

.back-password-same input {
    border: 1px solid #e3e3e3;
    float: left;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    padding: 0 10px;
    width: 280px;
}

#back-password-btn input {
    display: inline-block;
    line-height: 36px;
    margin: 0px 0px 30px 220px;
}