@charset "UTF-8";

/* 商品列表页css */

body {
    background: #ededed;
    font-size: 12px;
}

.goods-list {
    width: 1200px;
    margin: 0 auto;
    color: #666;
}

.product-list dl dd .mini_nav_box ul li i,
.select-condition dl a.brandmore,
.select-condition dl a.brand-choice,
.product-list dl dt strong,
.product-list dl dt em,
.product-list dl dd.mini_nav a.next_nav,
.product-list dl dd.mini_nav a.prev_nav,
.product-control-price span,
.product-control-btn a i.p,
.product-control-btn a i,
.control a.put i,
.control a.open i,
.select-condition dl .choice,
.select-condition dl .more,
.search_brand_list a i,
.brand_search_box,
.g-l-title em,
.select-condition dl dd a.on i,
.select-condition dl .reset i,
.product-control_page a i,
.one-box .teach-list li,
.love-spc li .des-con span,
.gl-bar-trigger .arr,
.show-logo li a i,
.bt-feed .feed-close,
.suc-feed i {
    background: url(../../images/icon-search.png) no-repeat;
}

.brand_empty,
.search_brand .brand_empty,
.product_more_list dl,
.product-control_want span,
.product-control_want a,
.product_page span,
.product_page strong b,
.product_page strong,
.product_page a,
.product-list dl dd.dl_tips span,
.product-list dl,
.product-control_check label,
.product-control_check,
.product-control-price div a,
.product-control-price div i,
.product-control-price span,
.product-control-price,
.product-control-btn a i,
.product-control-btn,
.product-control-btn a,
.product_tips a,
.control a.put i,
.control a.open i,
.control a,
.search_brand_in label,
.search_brand_btn a,
.brand_search_box,
.searchResult,
.g-l-title a:link,
.g-l-title a:visited,
.g-l-title span,
.select-condition dl dd a,
.select-condition dl dd a.on i,
.g-l-title span,
.search_brand a {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

a,
p {
    font-size: 12px;
}

.g-l-title {
    font-size: 12px;
    color: #5d0e23;
    padding: 25px 0 16px 0;
    line-height: 19px;
    position: relative;
    z-index: 2
}

.g-l-title a.hoverer {
    color: #e93b39;
}

.g-l-all {
    float: left;
}

.g-l-title em {
    padding: 4px 5px;
    margin-top: -1px;
}

.searchResult {
    color: #e93b39;
    font-weight: normal;
}

.g-l-title span {
    float: left;
    color: #666;
}

.g-l-title span b {
    font-weight: bold
}

.g-l-title em {
    display: inline-block;
    width: 20px;
    height: 12px;
    background-position: 12px 5px;
}

.select-condition {
    background: #fff;
    width: 1200px;
    box-shadow: rgb(204, 204, 204) 0px 2px 5px;
}

.select-condition dl {
    border-bottom: 1px dashed #ededed;
    min-height: 46px;
    clear: both;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
}

.select-condition dl.last {
    border: 0 none;
}

.select-condition dl a.hoverer {
    color: #e93b39;
}

.select-condition dl dt {
    width: 81px;
    padding-left: 30px;
    line-height: 45px;
    color: #666;
}

.select-condition dl dt,
.select-condition dl dd {
    float: left;
    cursor: default;
}

.select-condition dl dd {
    padding-left: 10px;
    width: 1078px;
    min-height: 46px;
    background: #fff;
}

.select-condition dl dd .select-ed {
    padding-bottom: 12px;
    padding-left: 10px;
    width: 960px;
    *font-size: 0;
}

.select-condition dl dd .select-ed a,
.small-list a {
    margin: 12px 0 0;
    *margin: 12px 3px 0;
    *vertical-align: top;
    height: 22px;
    padding: 0 22px 0 10px;
    white-space: nowrap;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-list a b {
    color: #999;
}

.select-condition dl dd .select-ed a.on {
    border: 1px solid #e93b39;
    line-height: 24px;
    line-height: 23px \9 \0;
    color: #e93b39;
    position: relative;
    cursor: pointer;
}

.select-condition dl dd .select-ed a.hoverer.on {
    color: #d32220;
    border-color: #d32220;
}

.select-condition dl dd .select-ed a.on i {
    background-position: left -37px;
    width: 7px;
    height: 7px;
    position: absolute;
    right: 5px;
    top: 8px;
}

.search_brand_list a.on i {
    background-position: left -56px;
    width: 7px;
    height: 7px;
    position: absolute;
    right: 5px;
    top: 8px;
}

.select-condition dl .reset {
    position: absolute;
    right: 30px;
    top: 19px;
    padding-left: 15px;
    color: #000;
}

.select-condition dl .reset i {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 3px;
    background-position: 0 -16px;
}

.select-condition dl a.reset.hoverer i {
    background-position: -188px -16px;
}

.select-condition dl a.choice,
.select-condition dl a.brand-choice {
    position: absolute;
    right: 24px;
    top: 15px;
    padding-right: 12px;
    width: 30px;
    background-position: 27px -107px;
    cursor: pointer;
}

.select-condition dl a.hoverer.choice,
.select-condition dl a.hoverer.brand-choice {
    background-position: 27px -422px;
}

.select-condition dl a.choice-on {
    position: absolute;
    right: 26px;
    top: 15px;
    padding-right: 12px;
    width: 30px;
    background-position: 27px -441px;
    cursor: pointer;
}

.select-condition dl a.hoverer.choice-on {
    background-position: 27px -408px;
}

.select-condition dl a.more,
.select-condition dl a.brandmore {
    position: absolute;
    right: 69px;
    top: 15px;
    padding-left: 12px;
    width: 30px;
    background-position: 0 -71px;
    *background-position: 0 -70px
}

.select-condition dl a.hoverer.more,
.select-condition dl a.hoverer.brandmore {
    background-position: 0 -90px;
    *background-position: 0 -89px
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .select-condition dl a.more,
    .select-condition dl a.brandmore {
        background-position: 0 -70px;
    }
    .select-condition dl a.hoverer.more,
    .select-condition dl a.hoverer.brandmore {
        background-position: 0 -89px;
    }
}

@-moz-document url-prefix() {
    .select-condition dl a.more,
    .select-condition dl a.brandmore {
        background-position: 0 -70px;
    }
    .select-condition dl a.hoverer.more,
    .select-condition dl a.hoverer.brandmore {
        background-position: 0 -89px;
    }
}

.small-list {
    width: 960px;
    overflow: hidden;
    padding: 3px 0 0 0;
    height: 32px;
}

#w_b .small-list {
    max-height: 110px;
    height: auto;
    margin-bottom: 15px;
}

.item_dl .small-list,
.brand {
    max-height: 70px;
    height: auto;
}

.brand {
    padding: 4px 0 6px 0;
}

.skSmallStyle .brand {
    padding: 4px 0 0 0;
}

.item_dl .small-list {
    padding: 1px 0 7px 0;
}

.brand a {
    width: 155px;
    height: 22px;
    line-height: 22px;
    text-indent: 5px;
    margin: 5px 5px 5px 0;
    padding-left: 5px;
    position: relative;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    *white-space: nowrap;
    overflow: hidden;
    *display: block !important;
    *display: block;
}

.brand a {
    *display: inline;
    *float: left;
}




.ot-brand-list {
    min-height: 99px;
    max-height: 198px;
    padding-top: 1px;
    margin-top: 20px;
}





.control {
    width: 1200px;
    text-align: center;
    margin-bottom: 8px;
}

.control a {
    width: 80px;
    height: 21px;
    line-height: 21px;
    background: #fff;
    margin-top: 1px;
    box-shadow: 0 2px 5px #ccc;
    text-indent: 9px;
    cursor: pointer;
}

.control a.hoverer {
    color: #e93b39;
}

.control a.open i {
    background-position: 5px -109px;
    height: 12px;
    width: 20px;
    vertical-align: middle;
}

.control a.hoverer.open i {
    background-position: 5px -424px;
}

.control a.put {
    display: none;
}

.control a.put i {
    background-position: 5px -444px;
    height: 12px;
    width: 15px;
    vertical-align: middle;
}

.control a.hoverer.put i {
    background-position: 5px -412px;
}

.product-box {
    width: 1200px;
    margin: 35px auto;
    overflow: hidden;
    box-shadow: rgb(204, 204, 204) 0 2px 5px;
}

.product-control {
    padding: 10px 30px 0;
    min-height: 30px;
    background: #f5f5f5;
    font-size: 0;
    position: relative;
}

.product-control-btn {
    font-size: 0;
    margin-right: 10px;
    vertical-align: top;
}

.product-control-btn a {
    background: #fff;
    width: 65px;
    height: 22px;
    position: relative;
    text-align: center;
    border: 1px solid #ededed;
    font-size: 12px;
    margin-left: -1px;
    *margin-left: -2px;
    line-height: 25px;
    *line-height: 20px;
    line-height: 25px \9 \0;
    position: relative;
    z-index: 1;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .product-control-btn a {
        line-height: 20px;
    }
}

@-moz-document url-prefix() {
    .product-control-btn a {
        line-height: 20px;
    }
}

.product-control-btn a.hoverer {
    border-color: #e93b39;
    color: #e93b39;
    position: relative;
    z-index: 2
}

.product-control-btn a.hoverer i {
    background-position: 5px -204px;
}

.product-control-btn a.hoverer i.p {
    background-position: 5px -245px;
}

.product-control-btn a.on {
    background: #e93b39;
    border-color: #e93b39;
    color: #fff;
}

.product-control-btn a.asc i {
    background-position: 3px -182px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.product-control-btn a.on i {
    background-position: 3px -192px;
}

.product-control-btn a i {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    background-position: 5px -184px;
}

.product-control-btn a i.p {
    background-position: 5px -217px;
    height: 13px;
}

.product-control-btn a.on i.p {
    background-position: 5px -259px;
}

.product-control-btn a.down i.p {
    background-position: 5px -273px;
}

.product-control-price {
    width: 124px;
    height: 44px;
    overflow: hidden;
    vertical-align: middle;
    margin: -10px 10px 0 0;
}

.product-control-price div {
    width: 104px;
    *width: 114px;
    height: 24px;
    padding: 10px 10px 0;
    font-size: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.product-control-price div.on {
    background: #ededed;
    height: 64px;
    position: relative;
    z-index: 3;
    overflow: visible;
}

.product-control-price div i {
    border-top: 1px solid #acacac;
    width: 8px;
    margin: 0 1px;
    height: 3px;
    vertical-align: middle;
}

.product-control-price span {
    width: 45px;
    height: 22px;
    border: 1px solid #ededed;
    background-color: #fff;
    background-position: 3px -281px;
    text-align: right;
}

.custom-pro_in {
    width: 45px !important;
}

.product-control-price span input {
    width: 33px;
    height: 14px;
    border: 0 none;
    margin-top: 4px;
}

.product-control-price div a {
    width: 45px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0;
}

@-moz-document url-prefix() {
    .product-control-price div a {
        line-height: 15px;
    }
}

.product-control-price div a.enter-pro {
    border: 1px solid #e93b39;
    background: #e93b39;
    margin-left: 5px;
    *margin-left: 4px;
    color: #fff;
}

.product-control-price div a.empty-pro {
    border: 1px solid #e0e0e0;
    background: #fff;
    margin-right: 5px;
    color: #666;
}

.product-control-price div a.hoverer.empty-pro {
    color: #e93b39;
    border-color: #e93b39;
}

.product-list {
    background: #fff;
    font-size: 0;
    padding: 30px 20px;
}

.product-list dl {
    width: 240px;
    height: 360px;
    margin: 0 25px 56px 25px;
    vertical-align: top;
    position: relative;
    z-index: 1;
}

.product-list dl dt {
    width: 240px;
    height: 240px;
}

.product-list dl.hover {
    z-index: 2
}

.product-list dl div.show-tips {
    transition: border-color 1s cubic-bezier(0.35, 0.2, 0.55, 1.0);
    border-color: #dedcdc
}

.product-list dl div.show-tips .lazy {
    width: 240px;
    height: 240px;
    display: inline;
}

.product-list dl.hover div.show-tips {
    width: 240px;
    border: 2px solid #ededed;
    background: #fff;
    position: absolute;
    left: -16px;
    top: -26px;
    padding: 24px 14px 15px;
}

.product-list dl.hover dd.mini_nav {
    display: block;
}

.product-list dl.hover dt {
    position: relative;
}

.product-list dl dt strong,
.product-list dl dt em {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-position: -24px -403px;
    cursor: pointer;
}

.product-list dl dt strong.pm {
    background-position: -24px bottom;
}

.product-list dl dt strong.sg {
    background-position: -84px bottom;
}

.product-list dl dt strong.zzpm {
    background-position: -24px bottom;
}

.product-list dl dt strong.jjpm {
    background-position: -81px -241px;
}

.product-list dl dt strong.jspm {
    background-position: -141px -241px;
}

.product-list dl span.loveHeart {
    position: absolute;
    width: 38px;
    text-indent: 14px;
    height: 20px;
    background: url(../images/repeat-d1.png) no-repeat 0 6px;
    right: 13px;
    bottom: 20px;
    display: none;
    cursor: pointer;
    color: #999;
    line-height: 20px;
    line-height: 22px \0;
    *line-height: 22px;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .product-list dl span.loveHeart {
        line-height: 22px;
    }
}

.product-list dl span.loveHeart i {
    font-style: normal;
    overflow: hidden;
    height: 20px;
    font-size: 12px;
}

.product-list dl span.on {
    background-position: 0 -29px;
    color: #e93b39;
}

.product-list dl span.end {
    background-position: 26px -63px;
}

.product-list dl.hover span.loveHeart {
    display: block;
}

.product-list dl dd.dl-tips {
    height: 16px;
    width: 240px;
    font-size: 0;
    margin-top: 15px;
}

.product-list dl span.tipState {
    display: none;
    position: absolute;
    width: 90px;
    top: 163px;
    left: 50%;
    margin-left: -50px;
    background: url(../images/tipbg.png) repeat;
    color: #000;
    text-align: center;
    padding: 9px 5px
}

.product-list dl.hover span.tipState {
    display: block
}

.product-list dl dd.dl-tips span {
    padding: 0 4px;
    height: 16px;
    line-height: 18px;
    line-height: 16px \9 \0;
    margin: 0 3px 0 0;
    color: #fff;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .product-list dl dd.dl-tips span {
        line-height: 14px;
    }
}

@-moz-document url-prefix() {
    .product-list dl dd.dl-tips span {
        line-height: 14px;
    }
}

.product-list dl dd.dl-tips span.s1 {
    background: #000;
}

.product-list dl dd.dl-tips span.s2 {
    background: #e93b39;
}

.product-list dl.hover dd.dl-tips span {
    margin: 0 3px 0 0;
}

.product-list dl dd.dl-name {
    height: 35px;
    padding: 8px 0 3px;
    line-height: 15px;
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    margin-top: 10px;
}

.product-list dl dd.dl-price {
    padding-top: 3px;
    height: 16px;
}

.product-list dl dd.mini_nav {
    width: 240px;
    height: 52px;
    margin-top: 10px;
    position: relative;
    display: none;
}

.product-list .dl-size {
    width: 240px;
    background: #f5f5f5;
    display: none;
    text-align: center;
}

.product-list .dl-size a {
    color: #333;
    line-height: 22px;
    display: inline-block;
    height: 22px;
    padding: 0 7.5px 0 6.5px;
    position: relative
}

.product-list .dl-size a.hoverer {
    color: #e93b39
}

.product-list .dl-size a i {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -3.5px;
    height: 7px;
    width: 1px;
    display: block;
    background: #d1d1d1;
}

.product-list dl.hover dd.dl-size {
    display: block;
}

.product-list dl dd.mini_nav a.next_nav,
.product-list dl dd.mini_nav a.prev_nav {
    position: absolute;
    height: 55px;
    width: 42px;
    top: 0;
}

.product-list dl dd.mini_nav a.next_nav {
    right: 0px;
    background-position: 18px -360px;
}

.product-list dl dd.mini_nav a.hoverer.next-nav {
    background-position: -174px -361px;
}

.product-list dl dd.mini_nav a.prev_nav {
    left: 0px;
    background-position: 18px -324px;
}

.product-list dl dd.mini_nav a.hoverer.prev-nav {
    background-position: -174px -325px;
}


.product-list dl dd.dl-name a {
    color: #323232
}

.product-list dl dd.dl-name a.hoverer {
    text-decoration: underline;
}

.product-list dl dd.dl-name a:active {
    color: #900
}

.product-list dl dd.dl-name a:visited {
    color: #666 !important
}

.product-list dl dd.dl-price span,
.product-list dl dd.dl-price b,
.product-list dl dd.dl-price del {
    display: block;
    line-height: 24px;
}

.product-list dl dd.dl-price span {
    font: bold 12px/16px "Tahoma";
}

.product-list dl dd.dl-price span i {
    font: bold 12px/16px "microsoft yahei"
}

.product-list dl dd.dl-price b {
    color: #e93b39;
    *padding-top: 2px;
}

.product-list dl dd.dl-price span,
.product-list dl dd.dl-price b {
    float: left;
    line-height: 16px;
    *margin-top: -3px;
}

.product-list dl dd.dl-price del {
    float: right;
    color: #999;
    font: normal 12px/16px "����";
    text-decoration: none;
}

.product-list dl dd.dl-price del i {
    font-style: normal;
    font-family: Tahoma;
    text-indent: 3px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

dd.add-cart .deal-cnt {
    display: inline-block;
    padding-left: 10px;
    color: #999;
    font-size: 12px;
}

.product-list dl dd.add-cart {
    display: none;
}

.product-list dl.hover dd.add-cart {
    display: block;
    padding: 3px 0;
}

.product-list dl dd.add-cart a {
    display: inline-block;
    width: 70px;
    height: 22px;
    text-align: center;
    margin-top: 6px;
    line-height: 20px;
    line-height: 25px \9 \0;
    color: #fff;
    background: #e93b39;
}

.product-list dl dd.add-cart a.hoverer {
    background: #d32220;
}

.search-like {
    padding: 10px 30px 10px;
    background: #f5f5f5;
}

.n-footer {
    margin-top: 50px;
}

.bgf {
    background: #fff;
}

.hide {
    display: none;
}

input#expKey {
    color: #BBB6B6;
    height: 24px;
    line-height: 24px
}

.product-list .no-data {
    width: 100%;
    text-align: center;
    display: none;
}

.product-list dl dd.dl-name a em {
    color: #e93b39;
}

.ac_results li span {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    padding: 0 3px;
    background: #e93b39;
    color: #fff;
    vertical-align: 0;
}

.product-list dl dt em.znkh {
    width: 72px;
    height: 72px;
    background-position: -24px -318px;
}

.pp_btn {
    width: 100px;
    position: absolute;
    right: 100px;
    top: 30px;
}

.pp_btn .in-qjd {
    width: 100px;
    height: 32px;
    background: #000;
    color: #fff;
    display: block;
    font: 14px/31px microsoft yahei;
    text-align: center;
}

.pp_btn .in-qjd.hoverer,
.nom_btn .btn.hoverer {
    background: #333;
}

.nom_btn .btn {
    background: #000;
    color: #fff;
    display: inline-block;
    font: 12px/24px microsoft yahei;
    height: 24px;
    text-align: center;
    padding: 0 10px;
}

.search-other {
    width: 707px;
    margin: 0 auto;
    padding-bottom: 40px
}

.search-other .searchInput .typeInput {
    width: 612px
}

.list-ad {
    width: 1200px;
    overflow: hidden;
    margin: 30px auto 0;
    box-shadow: rgb(204, 204, 204) 0 0 13px;
}

.n-footer {
    margin-top: 30px
}

.gl-bar-trigger {
    padding: 0 18px 0 7px;
    height: 19px;
    border: 1px solid transparent;
    ;
    position: relative;
    z-index: 2;
}

.gl-bar-trigger span {
    display: inline;
    line-height: normal
}

.gl-bar-trigger .arr {
    display: block;
    width: 7px;
    height: 4px;
    vertical-align: middle;
    background-position: -20px 0;
    transition: all .2s ease;
    position: absolute;
    top: 6px;
    right: 7px
}

.gl-bar-cont {
    display: none;
    width: 100%;
    margin-bottom: 14px;
    background: #fff;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 1;
}

.gl-bar-cont.show {
    display: block
}

.gl-bar-cont .gl-list {
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 0 13px rgba(204, 204, 204, 1);
    padding-left: 40px;
}

.gl-bar-cont ul {
    overflow: hidden;
    padding: 22px 0 16px 0;
    width: 100%
}

.gl-bar-cont ul li {
    width: 9.9%;
    float: left;
    margin-bottom: 8px;
    height: 26px;
    line-height: 26px;
}

.gl-bar-cont ul li a {
    color: #666;
    text-decoration: none;
    line-height: 26px;
    overflow: hidden;
    display: block !important;
    height: 26px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;
}

.gl-bar-cont ul li a.int {
    color: #999
}

.gl-bar-cont ul li a.hoverer {
    color: #000 !important;
    text-decoration: underline
}

.trig-act.gl-bar-trigger .arr {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.trig-act.gl-bar-trigger {
    background: #fff;
    border-color: #ccc;
    border-bottom-color: #fff;
}

.brand-list {
    margin: 17px 0;
    padding-top: 1px;
    max-height: 198px;
    min-height: 99px;
    height: auto;
}

.brand-list.show-more {
    max-height: none
}

.show-logo li {
    float: left;
    border: 1px solid #ededed;
    width: 98px;
    text-align: center;
    height: 68px;
    line-height: 98px;
    overflow: hidden;
    margin: 0;
    margin-right: -1px;
    margin-top: -1px;
}

.show-logo li a,
.search_brand_list .show-logo a.on,
.search_brand_list .show-logo a.hoverer.on {
    padding: 0;
    position: static;
    margin: 0;
    height: 68px;
    width: 96px !important;
    line-height: 68px;
    color: #666;
    border: 1px solid transparent;
    _border: 1px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    zoom: 1;
}

.show-logo li a img {
    display: block;
    width: 80px;
    height: 53px;
    margin: 8px;
}

.show-logo li a i,
.search_brand_list .show-logo a.hoverer.on i,
.search_brand_list .show-logo a.on i {
    display: none;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 8px;
    height: 8px;
    background-position: -37px 0 !important;
}

.show-logo li.hoverer,
.show-logo li.li.hoverer,
.show-logo li.li-sel {
    position: relative;
}

.show-logo li.hoverer a img {
    display: none !important;
}

.show-logo li.li-sel a i {
    display: block !important
}

.show-logo li.li.hoverer,
.show-logo li.li-sel {
    border-color: #000;
    color: #000;
    z-index: 1;
}

.show-logo li.li.hoverer a,
.show-logo li.li-sel a {
    color: #000;
}

.show-logo li.li.hoverer {
    z-index: 2
}

.other-filter {
    display: none;
}

.other-filter.show {
    display: block;
}