/*
* @description: 公共css
* @author: javashop
* @update: javashop (2017-11-01 17:56)
*/

@import "color-config";

/* Base */
.__wrapper__ {
    position: relative;
    height: auto;
    min-height: 100%;
}

.__main__ {
    padding-bottom: 220px;
}

.__footer__ {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 220px;
}

.inner-container {
    width: 1200px !important;
    margin: 0 auto !important;
}

.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

/* Header */

/* Footer */
.__footer__ {
    background-color: $body_background_gray;
    padding-bottom: 20px;

    .footer-inner {
        width: 1200px;
        margin: 0 auto;
    }

    .help-center-footer {
        height: 160px;
        border-bottom: solid 1px #eaeaea;
        overflow: hidden;

        dl {
            width: 20%;
            float: left;
            line-height: 22px;
        }

        dt {
            padding-bottom: 6px;
            font-weight: 700;
            font-size: 14px;
            color: #777;
            height: 22px;
        }

        dd {
            font-size: 12px;
            color: #666;
            height: 22px;
            overflow: hidden;
        }
    }

    .link-footer {
        text-align: center;
        height: 40px;
        line-height: 40px;
        
        a {
            color: #666;
        }
    }
}


