@import "color";
@import "mixin";

.member {
    padding-bottom: 20px;
}

/** 顶部面包屑 */
.member-breadcrumb {
    height: 20px;
    padding: 10px 0;
    a {
        display: inline-block;
        position: relative;
        top: -1px;
    }
}

$border: 1px solid #e7e7e7;

/** 下方内容 */
.member-container {
    /** 左侧导航 */
    .member-menu {
        float: left;
        width: 208px;
        border: $border;
        background-color: #fff;
    }
    /** 右侧内容 */
    .member-content {
        float: left;
        width: (1200px - 210px - 10px);
        margin-left: 10px;
    }
}

/** 坐车导航 */
.member-menu {
    .item-menu-member {
        h2 {
            background-color: #F7F7F7;
            line-height: 44px;
            font-size: 14px;
            font-weight: 600;
            color: #333;
            padding-left: 20px;
            border-bottom: 1px solid #eee;
        }
        .menus-member {
            padding-bottom: 10px;
            .item-li {
                padding: 0 15px;
                line-height: 35px;
                cursor: pointer;
                @include transition(all ease-out .3s);
                span {
                    color: #ffffff;
                }
                a {
                    color: #777777;
                    display: inline-block;
                    width: 100%;
                    @include transition(color ease-out .3s);
                }
                &.active, &.hover {
                    background-color: lighten($color-main, 10%);
                    padding-left: 25px;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

/** 右侧内容 */
.member-content {
    /** 用户信息概览 */
    .overview-member {
        height: 118px;
        padding: 15px;
        border: $border;
    }
    /** 用户头像 */
    .user-avatar {
        position: relative;
        float: left;
        width: 110px;
        height: 110px;
        overflow: hidden;
        .user-avatar-img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -(95px / 2);
            margin-left: -(95px / 2);
            width: 95px;
            height: 95px;
            border-radius: 100%;
            @include box-shadow(0 0 10px 0 #eee)
        }
    }
    /** 用户信息 */
    .user-info {
        float: left;
        height: 110px;
        margin-left: 15px;
        .username-user-info, .mobile-user-info {
            height: 50%;
            color: #666;
            font-size: 14px;
        }
        .username-user-info {
            line-height: 85px;
        }
        .mobile-user-info {
            line-height: 20px;
        }
    }
}